extends admin_layout.pug

block styles
     link(rel="stylesheet", href="/stylesheets/forms.css")
block content
     .main.container
      .row
        .col-md-12
            h4 Edit Equipment
            a.btn.btn-primary.btn-lg(href='/admin/equipment' role='button') All Equipment
            hr
            form(method='POST' action="/admin/edit-equipment" encrypt ='application/x-www-form-urlencoded') 
                div.form-group
                    label(for="name") Name
                    input#name.form-control(type="text" value=equipment.name name="name")
                div.form-group    
                    label(for="brand") Brand
                    input#brand.form-control(type="text" value=equipment.brand name="brand")
                div.form-group
                    label(for="model") Model
                    input#model.form-control(type="text" value=equipment.model name="model")
                div.form-group
                    label(for="serialNumber") Serial Number
                    input#serialNumber.form-control(type="text" value=equipment.serialNumber name='serialNumber')
                div.form-group    
                    label(for='price') Price
                    input#price.form-control(type="text" value=equipment.price name="price")
                div.form-group    
                    label(for='imageUrl') ImageUrl
                    input#imageUrl.form-control(type="text" value=equipment.imageUrl name='imageUrl')
                div.form-group 
                    input#name.form-control(type="hidden" value= equipment._id name="equipment._id")
                button.btn.btn-info.btn-lg.form-control(type="submit") Update equipment

